# Node modules
node_modules/

# Logs
*.log

# Environment secrets
.env

# Docker
docker-compose.override.yml

# Trivy cache
.trivy/
.cache/

# OS files
.DS_Store
Thumbs.db

# Kubernetes secrets
*.secret.yaml

# Jenkins files
workspace/
